/**
 * The menu is technically the header of the site, it contains the styles for the drop down of the Search Bar.
 *
 */

$lineHeightForNav: 52px;
$lineHeightForSearch: 50px;


header.menu {

    // ...
    width: 100%;
    position: relative;
    z-index: 10;

    div.menu-container {
        width: 100%;
        background-color: black;
        padding: 0 20px;
        text-align: left;
        
        div.menu-holder {
            position: relative;
            width: 100%;
            max-width: $siteWidth;
            margin: 0 auto;
            @include flex_row;
        }

        h1 {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 24px;
            line-height: $lineHeightForNav;
            color: white;
            text-align: left;
            display: inline-block;
            flex: auto;
            text-align: center;
            @media(min-width: 992px){
                flex: unset;
                text-align: left;
            }
        }
        nav {
            display: inline-block;
            @include flex_col;
            position: fixed;
            left: 0;
            top: $lineHeightForNav;
            background: rgba(0, 0, 0, 0.9);
            padding: 20px;
            width: 90%;
            height: 100%;
            @include transform(translate3d(-100%, 0, 0));
            @include transition(all 0.3s ease-in-out);
            @media(min-width: 992px){
                @include flex_row;
                position: relative;
                left: unset; top: unset;
                margin-left: 60px;
                padding: unset;
                width: unset;
                height: unset;
                @include transform(none);
                @include transition(none);
            }

            &.active {
                @include transform(translate3d(0%, 0, 0));
                @media(min-width: 992px){
                    @include transform(none);
                    @include transition(none);
                }
            }


            i { 
                color: white; 
                font-size: 30px;
                line-height: $lineHeightForNav;
            }

            i.search {
                position: absolute;
                right: 10px;
                top: 0;
            }

            a.nav-item {
                font-family: Helvetica, Arial, Sans-Serif;
                font-size: 26px;
                font-weight: bold;
                line-height: $lineHeightForNav;
                text-transform: uppercase;
                text-decoration: none;
                white-space: nowrap;
                border-bottom: 1px solid transparent;
                color: #FFF;
                margin-right: 20px;

                @media(min-width: 992px){
                    font-size: 17px;
                    font-weight: unset;
                }
            }
        }
    }

    .nav-btn-icon {
        color: white; 
        font-size: 30px;
        line-height: $lineHeightForNav;
    }

    .nav-btn-menu-toggle {
        @media(min-width: 992px){
            display: none;
        }
    }

    .nav-btn-search-toggle {
        color: white; 
        font-size: 30px;
        line-height: $lineHeightForNav;
        padding: 0 5px;
        position: absolute;
        left: 44px;
        @media(min-width: 992px){
            left: unset;
            right: 10px;
            top: 0;
        }

        &.active {
            background: #fff;
            color: #000;
        }

        &:hover {
            opacity: 1;
        }        
    }

    div.search-container {
        position: absolute;
        background-color: white;
        z-index: 20;
        // box-shadow: 0 0 10px rgba(0,0,0,0.1);
        width: 100%;
        padding: 5px;
        background-color: white;
        border-bottom: 1px solid #CCC;
        display: none;
        border: none;
        margin-top: -1px;        
        &.showing { 
            display: block; 

            &:after {
                position: absolute;
                top: 62px;
                left: 0;
                width: 100%;
                height: calc(100vh - 114px);
                content: "";
                background: rgba(0, 0, 0, 0.5);
            }
        }
        
        input[type='text'] {
            min-width: 100%;
            font-size: 36px;
            font-weight: 500;
            line-height: $lineHeightForSearch;
            border: none;
            padding: 0 10px;
            text-transform: uppercase;

            &:focus,
            &:active {
                outline: none;
            }

            @include placeholder_text_style {
                color: #888;
                font-weight: 500;
                letter-spacing: -0.025rem;
                text-transform: uppercase;
            }            
        }

        i.close {
            position: absolute;
            right: 10px;
            top: 5px;
            font-size: 36px;
            color: #000;
            line-height: $lineHeightForSearch;
        }
    }

    div.suggestions {
        z-index: 50;
        position: absolute;
        background: #fff;
        width: 100%;
        left: 0;
        padding: 5px 15px 15px;
        @include flex_col;
    }

    .suggestions-info {
        @include flex_row;
        text-transform: uppercase;
        justify-content: space-between;
        border-top: 1px solid #c7c7c7;
        padding: 20px 0;
        span {
            font-size: 14px;
            font-family: 'Helvetica', sans-serif;
        }
    }

    .suggestions-more {
        text-decoration: underline;
    }

    .suggestions-list {
        @include flex_row;
        flex-wrap: wrap;
        border-top: 1px solid #c7c7c7;
        padding: 20px 0;
    }

    .suggestion-item {
        width: 160px;
        height: 160px;
        padding: 10px;
        position: relative;

        @media(min-width: 480px){
            width: 50%;
            height: 220px;
            padding: 20px;
        }

        @media(min-width: 768px){
            width: 340px;
            height: 340px;
            padding: 24px;
        }

        @media(min-width: 992px){
            width: 25%;
            height: auto;
            padding: 30px;
        }

        @include flex_row;
    }

    .suggestion-item-image {
        flex: unset;
    }
    .suggestion-item-image-tag {
        max-height: 100%;
        @media(min-width: 768px){
            max-width: unset;
            max-height: 180px;
        }
        @media(min-width: 992px){
            max-width: unset;
            max-height: 200px;
        }
    }

    .suggestion-item-text {
        @include flex_col;
        font-family: 'Helvetica', sans-serif;
        padding-left: 15px;
        flex: 1 auto;
        text-align: left;

        position: absolute;
        right: 0;
        width: 50%;
        max-width: 200px;

        @media(min-width: 992px){
            position: relative;
        }
    }
    .suggestion-item-name {
        text-transform: uppercase;
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 10px;
    }
    .suggestion-item-description {
        text-transform: uppercase;
        font-size: 14px;
    }
}