//-----/ Form Mixins
//--------------------------------------------------------------------------------------------//
@mixin placeholder_text_style(){
    &::-webkit-input-placeholder {
       @content;
    }
    &:-moz-placeholder { /* Firefox 18- */
       @content;
    }
    &::-moz-placeholder {  /* Firefox 19+ */
       @content;
    }
    &:-ms-input-placeholder {  
       @content;
    }    
}

//-----/ Layout Mixins
//--------------------------------------------------------------------------------------------//

// Flexbox
@mixin flex_row {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; 
  -webkit-flex-direction: row;
  flex-direction: row; 
}
@mixin flex_col {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column; 
}


//-----/ Browser Prefix Mixins
//--------------------------------------------------------------------------------------------//

@mixin css_prefixer($property, $property_type, $value...) {
            #{$property}-#{$property_type}:$value;
    -webkit-#{$property}-#{$property_type}:$value;
       -moz-#{$property}-#{$property_type}:$value;
         -o-#{$property}-#{$property_type}:$value;
}

// Border Radius
@mixin border-radius($radii) {
    -webkit-border-radius: $radii;
       -moz-border-radius: $radii;
     -khtml-border-radius: $radii;
            border-radius: $radii;
}

// Border Top Radius
@mixin border-top-radius($radii) {
 -webkit-border-top-left-radius: $radii;
-webkit-border-top-right-radius: $radii;
    -moz-border-top-left-radius: $radii;
   -moz-border-top-right-radius: $radii;
  -khtml-border-top-left-radius: $radii;
 -khtml-border-top-right-radius: $radii;
         border-top-left-radius: $radii;
        border-top-right-radius: $radii;
}

// Shadows
@mixin box-shadow($arg...) {
    -webkit-box-shadow: $arg;
       -moz-box-shadow: $arg;
        -ms-box-shadow: $arg;
         -o-box-shadow: $arg;
            box-shadow: $arg;
}

// Opacity
@mixin opacity($value) {
      $IEValue: $value * 100;
       opacity: $value;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=" + $IEValue + ")";
        filter: alpha(opacity = $IEValue);
}

// Animation
@mixin animation($animate) {
     -webkit-animation: $animate;
        -moz-animation: $animate;
          -o-animation: $animate;
             animation: $animate;
}

// Transform
@mixin transform($arg) {
     -webkit-transform: $arg;
        -moz-transform: $arg;
         -ms-transform: $arg;
          -o-transform: $arg;
             transform: $arg;
}

// Transform Origin
@mixin transform-origin($arg) {
     -webkit-transform-origin: $arg;
        -moz-transform-origin: $arg;
         -ms-transform-origin: $arg;
          -o-transform-origin: $arg;
             transform-origin: $arg;
}

// Transition
@mixin transition($arg...) {
    -webkit-transition: $arg;
       -moz-transition: $arg;
        -ms-transition: $arg;
         -o-transition: $arg;
            transition: $arg;
}